* {
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
    padding: 0px 10px 0px 10px;

}

#personal-info .sectionContent{
    display: none;
}
.bg-grey {

    background-color: #f1f3f5;

}
#about .container{
    float: left;
    padding-left: 10%;

}
#target{
    background-color: #f1f3f5;
    padding: 60px 20px 70px 50px;
}
#error-email{
    color: red;
    font-weight: 700;
}
#personal-info{
    background-color: #e9ecef;
    padding: 60px 20px 70px 50px;

}

.icon{
    color: rgb(0, 110, 255);
    margin-left: 30px;
    margin-top: 30px;
}
section{

    margin: auto;
    display: block;

}
#banner{
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 0px;
}
img{
    width: 100%;
    height: 70%;
}
.h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#nav-bar .container {
    text-align: center;
    display: grid;
    grid-template-columns:  repeat(2, 1fr) 2fr repeat(2, 1fr) ;
    padding: 0;
    justify-content: space-between;

    border: 1px solid gainsboro;

}
a:link {
    text-decoration: none;
    color: blue;
}
a:visited {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: none;
    color: blue;
}
a:active {
    text-decoration: none;
    color: blue;
}
.grid-nav-bar{
    padding: 0;
    border-left: 1px solid gainsboro;
}
.hidden{
    display: none;
}
#job-info .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0% 5% 0% 5%;
    margin-left: 75px;
}



.job-info{
    border: 1px solid gainsboro ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}
#nguon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.h{
    padding-top: 30px;
    display: grid;
    grid-column: 1/ 4;
}
.div{
    display: grid;
    grid-column: 1/ span 4;
}
#box{
    padding-top: 30px;
    display: grid;
    grid-column: 4 / span 4;
    font-size: 40px;
    margin-left: -100px;
    padding: 0;
}
.hinh-like {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    
}
.sothich{
    margin-top: -10px;
    padding: 0;
}
.center {
    margin-left: 20px;
    background: white;
    width: 40px;
    height: 40px;
    border: 1px solid aqua;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    color: aqua;
    margin-left: 13px;

}
.ic-telescope{
    margin-top: -30px;
    margin-left: -15px;
}

#box-3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 13px;

}
#d1{
    display: grid;
    grid-column: 1/2;
    margin-top: 20px;
    margin-left: 17px;
    padding: 0;
}
#d2{
    display: grid;
    grid-column: 2/3;
    margin-top: 20px;
    margin-left: 17px;
    padding: 0;
}
#d3{
    display: grid;
    grid-column: 3/4;
    margin-top: 20px;
    margin-left: 17px;
    padding: 0;
}
#d4{
    display: grid;
    grid-column: 4/ span 4;
    margin-top: 20px;
    margin-left: 17px;
    padding: 0;
} 
.control-view4{
    grid-column: 1/ span 2;
}

.span1{
    background: #199cdb;
    display: inline-block;
    height: 3px;
    margin-right: 10px;
    width: 45px;
}
.span2{
    background: gray;
    display: inline-block;
    height: 3px;
    margin-right: 10px;
    width: 45px;
}
.di{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 20px;
}
.p1{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#giai-thuong{
    width: 100%;
    padding-left: 3%;
    padding-bottom: 1%;

}
.certificate-1{
    padding: 0% 20% 0% 20%;
}

.grid-item-1{
    float: left;
    margin-top: 30px;

}
.grid-item-2{
    float: left;
    margin-top: 30px;

}
.grid-item-3{
    float: left;
    padding-bottom: 30px ;
    margin-top: 30px;
}
.giai{
    display: grid;
    grid-column: 2/ span 2;
}
.img1{
    float: left;
    display: grid;
    grid-column: 1/2;
}
.project{
    display: flex;
    flex-direction: row;
    
    gap: 20px;
    padding: 0% 10% 2% 7%;
    margin: 0;
}
.grid_1{
    display: grid;
    border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
    height: 400px;
    width: 370;
}
.table{
    border-bottom: 1px solid black ;
}
.g1{
    border-bottom: 1px splid rgb(0, 0, 0);
}
.dp{
    display: grid;
    grid-template-columns: 15% 35% 60%;
}
.dp1{
    display: grid;
    grid-column: 1/2;
}
.dp2{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 40% 60%;
}
.dp3{
    display: grid;
    grid-column: 3/ span 3;
    grid-template-columns: 20% 80%;
}
.tron{
    background: rgb(0, 38, 255);
    width: 50px;
    height: 30px;
    border-radius: 15px;
    margin-left: -20px;
    margin-top: -5px;
}
table tr, th{
    border-bottom: 1px solid rgb(201, 198, 198);
    border-top: 1px solid rgb(201, 184, 184) ;
}
table{
    border-collapse: collapse;
}
.footer{
    display: inline-block;
    margin: 0;
    padding: 2% 20% 2% 37%;
    
}
.foot{
    display: inline-block;

    margin: 0;
}
.i, .Facebook{
    display: inline-block;
} 
.img2{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -75px ;
    margin-left: -75px;
    padding: 0;
}


